.products_body {
    background-color: white;
    min-height: 100vh;
    margin: 0;
}
.products_footer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}