.book_component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 16px;
    width: 220px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.book_component:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.book_image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.book_title {
    font-size: 1rem;
    font-weight: bold;
    color: #16213e;
    margin: 10px 0 5px;
}

.data {
    font-size: 0.9rem;
    color: #555;
    margin: 2px 0;
}

.price {
    text-decoration: line-through;
    color: #999;
    font-size: 0.9rem;
}

.discountPrice {
    color: #16213e;
    font-size: 1.1rem;
    font-weight: bold;
}

.star_grid {
    display: flex;
    gap: 4px;
    margin-top: 8px;
    align-items: center;
}
.book_image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}
.star { width: 14px; height: 14px; object-fit: contain;}

.cart_button {
    margin-top: 12px;
    padding: 10px;

    background-color: #16213e;
    color: #FFFFFF;

    border: none;
    border-radius: 8px;

    font-size: 0.95rem;
    font-weight: bold;

    cursor: pointer;

    transition: all 0.2s ease;
}

.cart_button:hover {
    background-color: #0f172a; /* un poco más oscuro */
    transform: scale(1.03);
}

.cart_button:active {
    transform: scale(0.98);
}